body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  width: 640px;
  height: auto;
  margin: auto;
}

.container .completed{
  width: 635px;
  height: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
  background-color: rgba(240, 108, 108, 0.945);
  top: -500px;
  margin-left: auto;
}

.container .game-buttons{
  display: flex;
  margin: auto;
  /* margin-top: 50%; */
}

.container .game-buttons .start-game{
  margin-top: 200%;
  width: 200px;
  height: 80px;
  background-color:#998DA0 ;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
  border: none;
}
.container .game-buttons .end-game{
display: flex;
justify-content: center;
margin-left: 30%;
text-align: center;
line-height: 80px;

}
.container .game-buttons .start-game:hover{
  cursor: pointer;
  background-color: #B9C0DA;
  color: #998DA0;
  transition: all .5s ease-in-out;
  -webkit-box-shadow: 14px 28px 16px -12px rgba(0,0,0,0.65);
  -moz-box-shadow: 14px 28px 16px -12px rgba(0,0,0,0.65);
  box-shadow: 14px 28px 16px -12px rgba(0,0,0,0.65);
}

.container .card-container li {
  display: flex;
  width: 200px;
  height: 200px;
  margin:10px 5px 10px 5px;
  box-sizing: border-box;
  position: relative;
 
}
.container .card-container li img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 2px solid blue ;
  border-radius: 10px;
  
  
}

.closed::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  z-index: 999;
  border: 1px solid #000;
  border-radius: 5px;
}

li{
  list-style: none;
  float: left;
}

